
@{
    ViewBag.Title = "test";
}

<h2>test</h2>

<div style="padding: 4px; background-color: #004b85; color: #ffffff; text-align: center;"><strong>Example Transactions for Vehicle Loans &amp; Rates:</strong></td><td></div>
<table style="text-align: left; width: 100%;">
    <thead>
        <tr style="background-color: #f1f1f1;">
            <th scope="col">Collateral</th>
            <th scope="col">2019 Vehicle</th>
            <th scope="col">2018 Vehicle</th>
            <th scope="col">2013 Vehicle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Amount Financed</strong></td>
            <td>$25,000.00</td>
            <td>$40,000.00</td>
            <td>$17,000.00</td>
        </tr>
        <tr style="background-color: #f1f1f1;">
            <td><strong>Term (Months)</strong></td>
            <td>60</td>
            <td>84</td>
            <td>84</td>
        </tr>
        <tr>
            <td><strong>Loan to Value</strong></td>
            <td>115%</td>
            <td>115%</td>
            <td>85%</td>
        </tr>
        <tr style="background-color: #f1f1f1;">
            <td><strong>Down Payment</strong></td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$3,000.00</td>
        </tr>
        <tr>
            <td><strong>APR</strong></td>
            <td>3.24%</td>
            <td>3.74%</td>
            <td>11.99%</td>
        </tr>
        <tr style="background-color: #f1f1f1;">
            <td><strong>Fixed or Variable</strong></td>
            <td>Fixed</td>
            <td>Fixed</td>
            <td>Fixed</td>
        </tr>
        <tr>
            <td><strong>Monthly Payment</strong></td>
            <td>$451.84</td>
            <td>$541.93</td>
            <td>$299.90</td>
        </tr>
        <tr style="background-color: #f1f1f1;">
            <td><strong>Total Repayment</strong></td>
            <td>$27,110.35</td>
            <td>$45,521.41</td>
            <td>$25,191.43</td>
        </tr>
        <tr>
            <td><strong>Payment Per $1,000.00</strong></td>
            <td>$18.08</td>
            <td>$13.55</td>
            <td>$17.65</td>
        </tr>
    </tbody>
</table>